<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>

<div>
    <h2>Users</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>User name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${allUs}">

            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.userName}"></td>
            <td>
                <form action="#" th:action="@{/admin/user-update/{id}(id=${user.id})}" th:method="get">
                <input type="submit" value="Update"/>
            </form></td>
            <td><form action="#" th:action="@{/admin/user-delete/{id}(id=${user.id})}" th:method="delete">
                <input type="submit" value="Delete"/>
            </form></td>
        </tr>
        </tbody>
    </table>
</div>
<td><form action="#" th:action="@{/admin/user-create}" th:method="get">
    <input type="submit" value="Add User"/>
</form></td>
<div>
    <form  th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>
</div>
</body>
</html>