<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>

<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Roles</th>

        </tr>
        <tr th:object="${user}">
            <td th:utext="${user.getId()}">id</td>
            <td th:text="${user.getUserName()}">userName</td>
            <td th:text="${user.getFirstName()}">firstName</td>
            <td th:text="${user.getLastName()}">lastName</td>
            <td th:text="${user.getRoles()}">roles</td>
        </tr>
    </table>
</div>



</body>
</html>